/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/
.input_area {
    width: 90%;
}
.code_cell {
    position: relative;
}
.question {
    position: absolute;
    top: 5%;
    right: 4%;
    display: inline;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: all .5s ease-out;
       -moz-transition: all .5s ease-out;
         -o-transition: all .5s ease-out;
            transition: all .5s ease-out;
}
.question:hover {
    text-decoration: none;
    background: #ffffff;
    color: #333333;
}
.comment-frame {
    width: 100%;
    height: 250px;
    border: none;
}
